
/*//http://www.palettable.io/FFFFFF-CCEBF1-8B8399-334455*/
/*http://www.palettable.io/5D0E11-373636-81C8E9-F7F6F5-786F63*/
/*http://www.palettable.io/005E86-C5D0EE-996A3E-2A3040-F4EB6C*/

/*http://www.palettable.io/03031B-528972-2D4F54-FF8E00-EDDDC8*/
/*http://www.palettable.io/7F003F-FFCCE8-FFC0CB-8B636C-492B2B*/
/*http://www.palettable.io/058C6C-43CD80-2F4F4F-5E2323-2B0505*/

body {
  height: 100vh;
  background: DarkSlateGray ;
}

h1 {
  margin: 2rem;
  text-align: center;
  color: white;
  font-family: fantasy;
}

h2 {
  font-family: fantasy;
  font-size: 26px;
  color: Navy;
}

.game-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  perspective: 1000px;
}

#game-area{
  z-index: 1;
  width: 85%;
  transform: rotateX(35deg);
  padding: 0 2rem 2rem 2rem;
  background: ForestGreen;
}

#dealer-area {
  margin-bottom: 2rem;
}

#dealer-cards {
  transform: translateY(-40px);
  display: flex;
  justify-content: center;
  height: 168px;
}

#player-area #announcement {
  margin-left: 25%;
}

#player-cards {
  display: flex;
  justify-content: center;
  height: 168px;
}

#action-area {
  z-index: 10;
  width: 15%;
  display: flex;
  flex-direction: column;
}

#next-hand, #hit-me {
  margin-bottom: 3rem;
}

button {
  background: SteelBlue;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  outline: none;
}

img {
  width: 130px;
  height: 190px;
}

@media (min-width: 1200px) {
  body {
    padding: 0 12%;
  }
}
